/* You can add global styles to this file, and also import other style files */

.hideEmeTechImg {
  width: 30%
}

.hideLaptopLady {
  width: 110%
}

.circleIcons {
  width: 50%;
}

.laptopShippingImg {
  width: 80%;
}

.customCard {
  border-radius: 2.25rem;
  width: 18rem;
  height: 25rem;
  box-shadow: 1px 1px 30px #d2cccc;
}

.buttonImg {
  width: 105%;
}

.TVHost {
  width: 50%;
  height: 4em;
  border-radius: 0em;
}

.TVQS {
  width: 50%;
  height: 4em;
  border-radius: 0em;
}

.cards {
  margin-left: 85px;
}

.servicesHeader {
  margin-left: 90px;
}
/* .customCard:hover {
  transform: scale(1.3);
  background-image: url('../src/assets/Group_158.png');
  color: white;
} */

@media (max-width: 428px) {
  .hideEmeTechImg {
    display: none;
  }

  .hideLaptopLady {
    display: none;
  }

  .circleIcons {
    width: 80%;
  }

  .laptopShippingImg {
    display: none;
  }

  .buttonImg {
    display: none;
  }

  .mobileShift {
    padding-left: 6.5rem !important
  }

  .servicesHeader {
    margin-left: 0px;
  }
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .hideLaptopLady {
    width: 130%;
  }
}
