<div class="container-fluid p-4">
  <div class="row justify-content-evenly g-5">
    <div class="col-md-4 col-xs-12">
      <img src="../../assets/Group_154.png" class="hideEmeTechImg">
      <br><br>
      <div class="row">
        <div class="col align-self-start">
          <h3 class="fw-bold">Emetech provides IT solutions to support business development and growth.</h3>
          <p class="fs-5">
            Our aim is to develop long term relationships with clients, acting as a trusted advisor,
            proposing and managing tech solutions that are tailor-made to significantly improve
            business performance. With a focus on up front, in depth analysis requirements of the
            client, to provide sustainable and strategic tech solutions timely.
          </p>
          <button type="button" class="btn btn-secondary">Read More</button>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col align-self-start">
          <h3 class="fw-bold">Need emergency IT support? Call us now on 012 880 3835</h3>
          <p class="fs-5">
            Our dedicated support technicians are on hand 24/7/365 to get your
            business up and running again, no matter what problems you’re facing.
            <br><br>
            Get an immediate remote support. We will provide you with one free remote session - no obligations.
          </p>
          <button type="button" class="btn btn-success">TeamViewer Download</button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <img src="../../assets/Group_157.png" class="hideLaptopLady" >
    </div>
  </div>
</div>

<div class="container-fluid p-4 mt-5">
  <div class="row justify-content-md-center g-5 text-center">
    <div class="col-md-4">
      <h3 class="fw-bold">Our Core Feature</h3>
      <p  class="fs-5">
        We act agility to ensure that the expectations of the clients are exceeded by continuous service improvement & innovation.
      </p>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-3 col-xs-12 text-center">
      <img src="../../assets/Group_148@2x.png" class="circleIcons">
      <p class="fw-bold fs-6">Delivering solutions</p>
      <p class="text-wrap">
        Emetech is a long established team of experienced & dedicated IT professionals that specialises in delivering high-quality IT solutions to clients that demand excellence.
      </p>
    </div>
    <div class="col-md-3 col-xs-12 text-center">
      <img src="../../assets/Group_149@2x.png" class="circleIcons">
      <p class="fw-bold fs-6">Achieving business objectives</p>
      <p class="text-wrap">
        The objectives are achieved through working closely with clients, listening & understanding the needs,
        & deliver tailor-made services to ensure that the succeed in achieving both tech & business objectives.
      </p>
    </div>
    <div class="col-md-3 col-xs-12 text-center">
      <img src="../../assets/Group_150@2x.png" class="circleIcons">
      <p class="fw-bold fs-6">Exceeding expectations</p>
      <p class="text-wrap">
        We act agility to ensure that the expectations of the clients are exceeded by continuous service improvement and innovation.
      </p>
    </div>
    <div class="col-md-3 col-xs-12 text-center">
      <img src="../../assets/Group_156@2x.png" class="circleIcons">
      <p class="fw-bold fs-6">Building partnerships</p>
      <p class="text-wrap">
        We strongly believe that integrity, honesty, and accountability helps to build long, trusted relationships with customers, employees, and other stakeholders
      </p>
    </div>
  </div>
</div>

<div class="container-fluid p-4 mt-5">
  <div class="row justify-content-evenly g-5">
    <div class="col-md-6">
      <img src="../../assets/Group_151.png" class="laptopShippingImg">
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="row mt-5">
        <div class="col align-self-start">
          <h3 class="fw-bold">IT Hardware and Software</h3>
          <p class="fs-5">
            We can offer the supply and installation from the leading IT
            vendors that have the proven track record to ensure IT systems
            remain efficient and reliable by recommend the best IT hardware
            in line with client requirements. IT equipment include server, PCs,
            Server cabinet, routers, small switches purchases as well as full
            Care Pack’s and extended warranties to all new equipment.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col align-self-center">
          <button type="button" class="btn btn-success btn-lg">Read More</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container p-4 mt-5">
  <div class="row justify-content-md-center g-5 text-center">
    <div class="col-md-4 servicesHeader">
      <h3 class="fw-bold">Our IT managed services</h3>
    </div>
  </div>

  <div class="row justify-content-center d-flex align-items-center g-5">
      <div class="col-md-3 text-center cards">
        <div class="card customCard">
          <div class="card-body">
            <h5 class="card-title">Desktop Support</h5>
            <p class="card-text">
              Our team of experts provide personal and professional support to clients. Our services
              include extensive remote support and monitoring services to ensure prompt response to issues reported.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center cards">
        <div class="card customCard">
          <div class="card-body">
            <h5 class="card-title">Infrastructure Management</h5>
            <p class="card-text">
              Emetech provides comprehensive infrastructure management
              services. Our packages include IT support, remote monitoring and
              troubleshooting services on the server(s) carried out by team of IT professionals.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center cards">
        <div class="card customCard">
          <div class="card-body">
            <h5 class="card-title">Service Management</h5>
            <p class="card-text">
              We make sure that the team of experts understand client’s business and translate it
              requirements into a technical solution that is suitable. The IT managed services offer a
              complete peace of mind for all aspects of the IT infrastructure.
            </p>
          </div>
        </div>
      </div>
  </div>

</div>

<div class="container-fluid p-4 mt-5">
  <div class="row justify-content-evenly g-5">
    <div class="col-md-4 align-self-start">
      <h1 class="fw-bold">VOIP PHONE SYSTEMS</h1>
      <p class="fs-5">
        Our VoIP telephones and systems offer advanced, future-proof communication solutions at a much lower
        cost to traditional phone systems. We cover all aspects of VoIP telephone systems, including connectivity,
        SIP trunks, installation, hardware, training and support.
      </p>
      <h4 class="fw-bold">BENEFITS OF VOIP</h4>
      <p class="fs-5">
        Removing fixed telephone lines and replacing them with cheaper SIP trunks, significantly
        reduces call costs compared to traditional telecoms. Because of this, companies moving to
        VoIP telephones can save as much as 40% over their existing telecoms solution.
        While companies may be concerned about the outlay for replacing phone hardware, they
        needn’t be. VoIP phone software allows you to access your telephone system and make calls
        from your PC with a headset Additionally, you can remove the need for a desk phone
        altogether with the 3CX mobile app.
      </p>
      <p class="fs-5">
        Should your organisation still want desk phones however, Emetech Solution can supply phone hardware
        at a range of price points. Alternatively, we can offer a leasing option to help spread the
        initial cost of switching to a VoIP telephone system.
      </p>
    </div>
    <div class="col-md-4">
      <img src="../../assets/Group_140@2x.png" class="buttonImg">
    </div>
  </div>
</div>

<div class="container-fluid p-4 mt-5 mobileShift">
  <div class="row justify-content-center g-5">
    <div class="col-md-9 offset-md-6">
      <h4 class="fw-bold">REMOTE ACCESS TOOLS</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 offset-md-2">
      <h5 class="fw-bold">For Windows users:
        <img src="../../assets/images.png">
      </h5>
      <br><br>
      <div class="row">
        <button type="button" class="btn btn-success TVHost">TeamViewer Host</button>
      </div>
      <div class="row py-4">
        <button type="button" class="btn btn-success TVQS">TeamViewer Quick Support</button>
      </div>
    </div>
    <div class="col-md-4">
      <h5 class="fw-bold">For Mac users:
        <img src="../../assets/Apple_logo_grey.png" width="7%">
      </h5>
      <br><br>
      <div class="row">
        <button type="button" class="btn btn-success TVHost">TeamViewer Host</button>
      </div>
      <div class="row py-4">
        <button type="button" class="btn btn-success TVQS">TeamViewer Quick Support</button>
      </div>
    </div>
  </div>
</div>

<div class="container p-4 mt-5 ">
  <div class="row justify-content-center g-5">
    <div class="col-md-12 text-center">
      <h4 class="fw-bold">Our Clients</h4>
    </div>
  </div>

  <div class="row justify-content-center g-5">
      <div class="col-md-3 col-xs-12 text-center">
        <img src="../../assets/Image1.png">
      </div>
      <div class="col-md-3 col-xs-12 text-center">
        <img src="../../assets/Image2.png">
      </div>
      <div class="col-md-3 col-xs-12 text-center">
        <img src="../../assets/Image3.png">
      </div>
      <div class="col-md-3 col-xs-12 text-center">
        <img src="../../assets/Image4.png">
      </div>
  </div>
</div>
